@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

:root {
  --color-background: #e0dfdd;
  --color-object: #fff;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

#square {
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  padding: 30px 10%;
  background-color: var(--color-background);
  color: #000;
  transition: all 0.3s ease;
  top: 0;
}

#logo {
  margin-right: auto;
}

.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 50px;
}

.nav-list li,
a {
  text-decoration: none;
  color: var(--color-font1);
}

#navbar {
  position: fixed;
}

#welcome-section {
  width: 100%;
  padding: 70px 10%;
}

#job-name {
  font-size: 90px;
  font-weight: 400;
  position: relative;
}

#welcome-bottom {
  margin: 150px 5% 0 0;
  display: grid;
  grid-template-columns: auto auto;
}

#my-name {
  font-size: 90px;
  font-weight: 400;
  text-align: end;
}

#arrow {
  display: grid;
  grid-template-columns: auto auto;
}

#arrow-icon {
  content: url("https://api.iconify.design/ant-design/arrow-down-outlined.svg?color=black&width=60&height=60");
  margin: 150px 7%;
}

#arrow-text {
  margin: 150px 100px 0 0;
  font-size: 14px;
}

#about-section {
  padding: 200px 10% 0 10%;
  display: grid;
  grid-template-columns: auto auto;
}

#about-title {
  font-size: 90px;
  font-weight: 400;
}

#about-text {
  padding: 0 10% 0 30%;
  font-size: 14px;
}

#projects {
  padding: 300px 0 0 10%;
}

#projects-title {
  font-size: 90px;
  font-weight: 400;
  padding-bottom: 100px;
}

#project-nongrid {
  padding: 0 15% 0 15%;
  width: 400px;
  display: grid;
  grid-template-columns: auto;
}

#projects-grid {
  padding: 0 15% 0 15%;
  display: grid;
  grid-template-columns: auto auto;
}

#project-nongrid2 {
  padding: 0 15% 0 15%;
  width: 400px;
  display: grid;
  grid-template-columns: auto auto;
}

#nothing {
  width: 220px;
}

.project-tile {
  width: 400px;
  padding-bottom: 100px;
}

.project-tile-rec {
  width: 200px;
  padding-bottom: 100px;
}

.project-tile .project-image {
  width: 400px;
  height: 200px;
}

#project-year {
  text-align: end;
}

.project-tile-rec .project-image {
  width: 200px;
  height: 200px;
}

#contact-section {
  text-align: center;
}

#contact-title {
  font-size: 90px;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 50px;
}

#contact-list h3 {
  padding-bottom: 10px;
}

#contact-list a {
  padding-bottom: 10px;
}

#contact-list {
  display: grid;
  grid-template-rows: auto auto auto;
}

#creator {
  float: right;
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}
